$header-background: #F6F6F7;
$font-colour-primary: #222222;
$font-colour-secondary: #888888;
$required-star-colour: #C90000;
$border-light-grey: #CCCCCC;
$border-dark-grey: #222222;

body {
  margin: 0
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

header {
  width: 100%;
  margin: 1em 0 1.5em 0;
  background-color: $header-background;
  display: flex;
  justify-content: flex-end;
}

h1, h2, h3, h4 {
  color: $font-colour-primary;
}

h1 {
  font-size: 1.5em;
}

button {
  background-color: inherit;
  border: none;
}

.size-btn {
  color: $font-colour-secondary;
  outline: 1px solid $border-light-grey;
  padding: 1.1em 1.3em;
  margin-right: 0.5em;
  border: none;
}

#mini-cart-container {
  position: absolute;
  transform: translateY(4.3em);
  margin: 0 5%;
  width: 90%;
  background-color: white;
  border: 1px solid $border-light-grey;
}

.selected {
  color: $font-colour-primary;
  outline: 2px solid $border-dark-grey;
}

.hidden {
  display: none;
}

.mini-product-window {
  margin: 1em;
  width: 100%;
  height: 15em;
  display: flex;
}

.mini-product-image {
  margin: 1em 0;
  width: auto;
  height: 90%;
}

.mini-product-data {
  margin: 1em 0;
}

#add-to-cart-btn {
  font-weight: 800;
  letter-spacing: 2px;
  border: 2px solid $border-dark-grey;
  padding: 1em 1.5em;
  transition: 0.2s;
}

#add-to-cart-btn:hover {
  color: white;
  background-color: $border-dark-grey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details-container {
  margin: 1em;
}

p {
  color: $font-colour-secondary;
}

.product-description {
  margin-bottom: 2em;
}

.sizing-options {
  margin-bottom: 1.5em;
}

.required-star {
  color: $required-star-colour;
}

#view-cart-btn {
  color: $font-colour-secondary;
  padding: 1em;
  margin-right: 5%;
  z-index: 1;
}

.active-cart-btn {
  background-color: white;
  border-top: 1px solid $border-light-grey;
  border-right: 1px solid $border-light-grey;
  border-left: 1px solid $border-light-grey;
}

.product-img-container {
  width: 90%;
  margin: 1em;
}

.product-img {
  width: 100%;
  height: auto;
}

@media (min-width: 800px) {

  .container {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-img-container {
    width: 20%;
    margin: 0 10%;
  }

  .product-details-container {
    width: 30%;
    margin-right: 25%;
    display: inline-block;
  }
}
